/* ### 基本的なレイアウト ### */

#container	{width: 300px;}


/* ### コンテンツ部分の記事のレイアウト ### */
.post-free	{float: none;
	width: 300px;
	margin-right: 0;}

.post-free-1	{background-color:#EEEEFF;
	padding:5px;
	margin-bottom:5px;}

.post	{float: none;
	width: 300px;
	margin-right: 0;}



/* ### コンテンツ ### */

/* 記事 */
.post img	{width: 300px;}

.post h2	{font-size: 22px;}

.post p	{font-size: 16px;}

.post .more_s	{font-size: 18px;}

.post-free img	{width: 300px;}

.post-free h2	{font-size: 22px;}

.post-free p	{font-size: 16px;}

.post-free .more_s	{font-size: 18px;}



/* ### ヘッダー ### */

/* サイト名 */
#site	{float: none;}

/*
#site img	{width: 300px;
	height: auto;
	float: none;}
*/


/* ヘッダーのカスタマイズ */
#site h1	{font-size: 30px;}
#site h2	{margin-bottom:-5px;}

table.site {margin:auto;
	padding-top: 8px;}

/* #site img	{vertical-align: -10px} */


/* ナビゲーションメニュー */
#nav	{float: none;
	font-size: 14px;
	padding-top: 0px;}

#nav ul li a	{margin-left: 0;
	margin-right: 10px;}



/* ### ヘッダー記事 ### */
#headerpost img	{float: none;
	width: 300px;
	height: auto;}

#headerpost #lead	{float: none;
	background-color: #252525;
	width: auto;
	padding: 10px 10px;
	margin: 0;}

#headerpost h2	{font-size: 20px;
	margin: 10px 0 10px 0;}

#headerpost p	{font-size: 14px;
	margin: 0 0 20px 0;}

#headerpost .date	{float: left;
	margin: 0;}

#headerpost .more	{float: right;
	margin: -12px 15px 0px 0;}





/* jQuery Mobile */
#container	{width: 100%;}

#header	{width: 100%;
	text-align: center;
	background-color: #ffffff;
	padding-top: 5px;}

#nav ul	{background-color:#ff3d8f;
	overflow: hidden;}

#headerpost img	{width: 100%;
	height: auto;}

.post	{width: 100%;}

.post img	{margin: auto;
	display:block;
	padding-top: 10px;}

.post-free	{width: 100%;}

.post-free img	{margin: auto;
	display:block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0px;
	float: none;}


/* jQuery Mobile - ナビゲーションバー */

#nav ul li a	{color: #ffffff;
	display: block;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
	border: none;
	float: none;
	text-decoration: none;}

#nav ul li a:hover	{background:#ff0000;}

#nav ul li a span	{padding:5px 0px 6px;}

#nav ul li a .ui-btn-text	{font-size: 12px;}

#nav ul li	{border-right: solid 1px white;}

#nav ul li:last-child	{border-right: none;}


#nav .ui-grid-duo li	{border-bottom: solid 1px white;}

#nav .ui-grid-duo li:nth-child(even)	{border-right: none;}




/* jQuery Mobile - 折りたたみ表示 */

.post h2 a	{border: solid 1px #aaaaaa;
	border-radius: 5px;
	overflow: visible;
	background: -webkit-gradient(linear,left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(#ffffff 0%, #eeeeee 100%);
	background: -moz-linear-gradient(#ffffff 0%, #eeeeee 100%);
	background: -o-linear-gradient(#ffffff 0%, #eeeeee 100%);
	background: -ms-linear-gradient(#ffffff 0%, #eeeeee 100%);
	background: linear-gradient(#ffffff 0%, #eeeeee 100%);}

.post h2 a:hover	{background-color: transparent;}

.post .ui-icon-plus	{background-image: url(img/point-right.png);
	background-repeat: no-repeat;}

.post .ui-icon-minus	{background-image: url(img/point-bottom.png);
	background-repeat: no-repeat;}
