@charset "UTF-8";

/* ### 基本的なレイアウト ### */
#container	{width: 100%;}

/* ### コンテンツ部分の記事のレイアウト ### */
.post-free	{float: none;
	width: 96%;
	margin-right: 0;
	margin-left: 2%;}

.post-free-l	{background-color:#EEEEFF;
	padding:5px;
	margin-bottom:5px;}

.post	{float: none;
	width: 96%;
	margin-right: 0;
	margin-left: 2%;}

/* ### コンテンツ ### */
/* 記事 */
.post img	{max-width: 100%;
	height: auto;}

.post h2	{font-size: 1.2em;
	background-color: #f0f0f0;
	padding: 5px;
	border-left: 5px solid #333;}

.post p {font-size: 0.9em;
	line-height: 1.6;}

/* ### ヘッダー ### */
/* サイト名 */
#site	{float: none;
	text-align: center;
	background-color: #333;
	color: #fff;
	padding: 10px 0;}

#site a {color: #fff;
	text-decoration: none;}

/* ### メニュー ### */
#menu {
	overflow: hidden;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ddd;
	padding: 0;
	margin: 0;
}
#menu li {
	float: left;
	width: 33.3%;
	list-style: none;
	text-align: center;
}
#menu li a {
	display: block;
	padding: 10px 0;
	text-decoration: none;
	color: #333;
	border-right: 1px solid #ddd;
}

/* ### フッター ### */
#footer {
	clear: both;
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
#footer a {color: #fff;}
